<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {{ "Redwall - {}".format(title) }} </title>
</head>
<body>

<a href="./">Back to home</a>
<div id="input_container" style="width: 100%; min-height: 500px;">
    <form style="width:auto;height: 500px;" id="input_form">
        <p id="input_note_id" hidden>{{note_id}}</p>
        <textarea type="tet" style="width: 100%;" id="input_title">{{title}}</textarea>
        <textarea type="text" style="width: 100%;height: 80%;" id="input_content">{{ unrendered_content }}</textarea>
        <input type="submit" id="input_submit">
    </form>  
</div>

<div id="output_container">
    <div><h1 id="output_title">{{title}}</h1></div>
    <div id="output_content">
        {# The safe filter is used to render html without escape codes #}
        {{rendered_content | safe}}
    </div>
</div>

<script src="./static/main.js"></script>
<script>
document.getElementById('input_form').addEventListener('submit', updateNoteWrapper);
document.getElementById('input_content').addEventListener('input', throttle(renderMarkdown, 1000));
document.getElementById('input_content').addEventListener('input', debounce(updateNoteWrapper, 1000));
document.getElementById('input_title').addEventListener('input', throttle(updateNoteTitle, 1000));
document.getElementById('input_title').addEventListener('input', debounce(updateNoteTitle, 10000));
</script>

</body>
