<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redwall - All Notes</title>
</head>
<body>
    <a href="./create_note">Create new note</a>
    <ul id="navigation">
    {% for note in notes %}
        <li><a href="{{ note.href }}">{{ note.caption }}</a> <button class="delete_note" id="{{ note.note_id }}" type="button">Delete</button></li>
    {% endfor %}
    </ul>

<script src="./static/main.js"></script>
<script>
Array.from(document.getElementsByClassName("delete_note")).forEach((button) => button.addEventListener("click", deleteNoteWrapper));
</script>

</body>

