<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redwall - All Notes</title>
</head>
<body>
    <a href="./create_note">Create new note</a>
    <ul id="navigation">
    {% for note in notes %}
    <li> <button class="delete_note" id="{{ note.note_id }}" type="button">Delete</button> <a href="{{ note.href }}">{{ note.caption }}</a> </li>
    {% endfor %}
    </ul>

<script src="./static/main.js"></script>
<script>
var deleteNoteWrapper = function (event) {
    var c = confirm("Are you sure you want to delete this note?");
    console.log(c);
    if (c === true) {
        var promise = deleteNote(event.target.id);
        promise.then(function(response) {
            window.location.href = './';
        });
    }
}

Array.from(document.getElementsByClassName("delete_note")).forEach((button) => button.addEventListener("click", deleteNoteWrapper));
</script>

</body>
